<!doctype html>
<html class="no-js">
  {% include head.html %}

  <body>

    {% include html/cover.html %}

    <div class="container" id="content">

      <main>
        <div class="featurette featurette-large text-center">
          <h1>Welcome to Musical Instrument Store.</h1>
          <p class="lead">
            Established in 2010, we offer a large collection of musical instruments from high-quality brands.
          </p>
          <a href="about-us.html" class="btn btn-primary">More about us &gt;</a>
        </div>

        <div class="featurette featurette-grid text-center">
          <h1 class="text-center">Our services</h1>
          <p class="lead">See why we're better than the others.</p>

          <div class="row featurette">
            <div class="column column-1-3">
              <h2>The largest collection of musical instruments.</h2>
              <p>
                With over 100 brands to choose, you will be sure to find everything you want.
              </p>
            </div>
            <div class="column column-1-3">
              <h2>Simple, hassle-free payment.</h2>
              <p>
                Simply <a href="register.html">register with us</a>, and you will be able to purchase from our catalogue. No hidden costs. All our prices include tax, and delivery costs.
              </p>
            </div>
            <div class="column column-1-3">
              <h2>Satisfaction guaranteed.</h2>
              <p>
                Got any issues? Our 24/7 technical support will be at your service. We also have a Twitter account if you want to ask question, or just talk. We're friendly!
              </p>
            </div>
          </div>
        </div>

        <div class="featurette featurette-large featurette-right">
          <h1>Follow us!</h1>
          <ul>
            <li>Twitter: <a href="#">@BMGMusicStore</a></li>
            <li>Facebook: <a href="#">Musical Instrument Store</a></li>
            <li>Email: <strong>hello@bmgmusicstore.com</strong></li>
          </ul>
        </div>
      </main>

    </div>

    {% include html/footer.html %}

    {% include scripts.html %}
  </body>
</html>
