<div class="slider">
  <div class="slider-product slider-product-drum">
    <div class="slider-product-inner">
      <div class="container">
        <h1 class="slider-product-header">Gretsch USA Custom Series</h1>
        <p>The epitome and legend of "That Great Gretsch Sound."</p>
        <a class="btn btn-primary" href="gallery.html">Shop now &gt;</a>
      </div>
    </div>
  </div>
  <div class="slider-product slider-product-cymbal">
    <div class="slider-product-inner">
      <div class="container">
        <h1 class="slider-product-header">Paiste Formula 602 Cymbals</h1>
        <p>One of the world’s most referred and legendary cymbal line in history. Renown and loved for its fine, pure, soft, delicate musical tone, that requirea precise playing.</p>
        <a class="btn btn-primary" href="gallery.html">Shop now &gt;</a>
      </div>
    </div>
  </div>
  <div class="slider-product slider-product-piano">
    <div class="slider-product-inner">
      <div class="container">
        <h1 class="slider-product-header">Yamaha b2 Series Piano</h1>
        <p>With its larger dimensions and heavier construction, the new b2 delivers a superior sound through added depth and volume. For the ambitious performer on a budget, there is no better piano.</p>
        <a class="btn btn-primary" href="gallery.html">Shop now &gt;</a>
      </div>
    </div>
  </div>
  <div class="slider-product slider-product-electricdrum">
    <div class="slider-product-inner">
      <div class="container">
        <h1 class="slider-product-header">New Roland Electric Drums</h1>
        <p>New arrival!</p>
        <a class="btn btn-primary" href="gallery.html">Shop now &gt;</a>
      </div>
    </div>
  </div>
  <div class="slider-product slider-product-fender">
    <div class="slider-product-inner">
      <div class="container">
        <h1 class="slider-product-header">New Fender Guitars</h1>
        <p>Shop Fender guitars, accessories, and more.</p>
        <a class="btn btn-primary" href="gallery.html">Shop now &gt;</a>
      </div>
    </div>
  </div>
  <div class="slider-product slider-product-hofner">
    <div class="slider-product-inner">
      <div class="container">
        <h1 class="slider-product-header">Hofner Bass Collection</h1>
        <p>A wide collection of Hofner bass guitars, exclusive on Musical Instrument Store.</p>
        <a class="btn btn-primary" href="gallery.html">Shop now &gt;</a>
      </div>
    </div>
  </div>
  <div class="slider-product slider-product-saxophone">
    <div class="slider-product-inner">
      <div class="container">
        <h1 class="slider-product-header">New Saxophone Collection</h1>
        <p>New Saxophone Collection, exclusive on Musical Instrument Store.</p>
        <a class="btn btn-primary" href="gallery.html">Shop now &gt;</a>
      </div>
    </div>
  </div>
</div>
