/*
 * Global resets
 */

/* box-sizing resets */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove default margin. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* font-size is declared at root (`<html>`) so we can use rem units */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  color: #515151;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  background-color: #eee;
}

/* `<a>` styling overrides all link styles, so we can easily redesign it */
a {
  color: #268bd2;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a strong {
  color: inherit;
}

/* Make all large images fit the container width */
img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

/* `<table>` resets */
table {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 85%;
  border-collapse: collapse;
  border: 1px solid #e5e5e5;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/* Button resets */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: #313131;
}


/*
 * Typographical resets
 */

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.25;
  color: #313131;

  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0; /* Reset all border sizes */
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

blockquote {
  margin: .8rem 0;
  padding: .5rem 1rem;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}


/*
 * Custom typography
 */

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

/* Text modifiers */
.text-error {
  color: #c62828;
}

/* Text alignment */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


/*
 * Layouts
 */

.container {
  max-width: 56rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Clearfix [http://nicolasgallagher.com/micro-clearfix-hack/] */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

/* Grid system */
.row {
  margin-right: -1rem;
  margin-left: -1rem;
}

/* Apply Clearfix hack to `.row` class */
.row:before,
.row:after {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}

/* Grid columns */
.column {
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 38em) {
  .column {
    float: left;
  }

  .column-1-1 {
    width: 100%;
  }
  .column-1-2 {
    width: 50%;
  }
  .column-1-3 {
    width: 33.3%;
  }
  .column-1-4 {
    width: 25%;
  }
  .column-2-3 {
    width: 66.6%;
  }
  .column-3-4 {
    width: 75%;
  }
}


/*
 * Masthead
 */

.masthead {
  margin-bottom: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #fff;
  background-color: #333;
}

.masthead a {
  text-decoration: none;
}

.masthead-title {
  font-size: 1.25rem;
  color: inherit;
  text-align: center;
}
@media (min-width: 34rem) {
  .masthead-title {
    text-align: left;
  }
}

/* Masthead links */
.masthead-nav {
  margin-top: .5rem;
  margin-bottom: 0;
  padding: 0;
}
@media (min-width: 34rem) {
  .masthead-nav {
    float: right;
    margin-top: .25rem;
  }
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 1rem;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 85%;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}
@media (min-width: 34rem) {
  .masthead-nav > li > a {
    font-size: 1rem;
  }
}


/*
 * Home page wrapper
 */

.cover {
  width: 100%;
  height: auto;
  min-height: 100%;
  color: #eee;
  background-color: #333;
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.cover-inner {
  display: table-cell;
  /* vertical-align: middle; */
}

.cover-footer {
  position: absolute;
  bottom: 0;
  padding-top: 2rem;
  text-align: center;
}
.cover-footer a {
  display: block;
  padding: .5rem;
  color: #fff;
  text-decoration: none;
  background-color: #212121;
}

/* Specific masthead for home page */
.masthead-cover {
  position: absolute;
  top: 0;
  z-index: 99;
  margin-bottom: 0;
  background-color: rgba(21, 21, 21, .7);
}

.masthead-cover,
.cover-footer {
  /* Pull both ends of the masthead and cover footer */
  width: 100%;
}


/*
 * Slider
 *
 * Source: http://codepen.io/antoniskamamis/pen/hjBrE
 */

.slider h1 {
  color: inherit;
}

.slider-product {
  position: absolute;
  display: table;
  width: 100%;
  height: 100vh;
  opacity: 0;
  -webkit-animation: round 20s infinite;
          animation: round 20s infinite;
}

.slider-product-inner {
  display: table-cell;
  padding-bottom: 5rem;
  vertical-align: bottom;
}

.slider-product-inner .slider-product-header {
  margin-top: 0;
}

.slider-product-inner p:last-child {
  margin-bottom: 0;
}

.slider-product-inner .container {
  padding: 1.5rem;
  background-color: rgba(21, 21, 21, .5);
}

@-webkit-keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

/* Animation delays for each panel */
.slider-product:nth-child(1) {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}
.slider-product:nth-child(2) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
.slider-product:nth-child(3) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}
.slider-product:nth-child(4) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.slider-product:nth-child(5) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

/* Background images for each slider */
.slider-product-cymbal {
  background-image: url(../img/products/cymbal.jpg);
  background-position: center;
  background-size: cover;
}
.slider-product-drum {
  background-image: url(../img/products/drum.jpg);
  background-position: center;
  background-size: cover;
}
.slider-product-electricdrum {
  background-image: url(../img/products/electricdrum.jpg);
  background-position: center;
  background-size: cover;
}
.slider-product-fender {
  background-image: url(../img/products/fender.png);
  background-position: center;
  background-size: cover;
}
.slider-product-hofner {
  background-image: url(../img/products/hofner.jpg);
  background-position: center;
  background-size: cover;
}
.slider-product-saxophone {
  background-image: url(../img/products/saxophone.jpg);
  background-position: center;
  background-size: cover;
}
.slider-product-piano {
  background-image: url(../img/products/piano.jpg);
  background-position: center;
  background-size: cover;
}


/*
 * Featurette
 *
 * Presentational content elements on the front page.
 */

.featurette {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.featurette + .featurette {
  border-top: 1px solid #ddd;
}


/**
 * Forms
 *
 * Default styles for Forms.
 */

.form .form-label {
  margin-right: 1rem;
  font-weight: bold;
  color: #303030;
}
.form .form-btn {
  display: block;
  width: 100%;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.form .form-control {
  display: block;
  width: 100%;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: .25rem .75rem;
  border: 1px solid #9e9e9e;
  border-radius: 3px;
  outline: none;
}
.form .form-checkbox-control {
  display: block;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.form .form-helper-text {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.form-separator {
  margin-top: .5rem;
  margin-bottom: 1rem;
}


/*
 * Gallery page
 */

/* Product containers */
.product-container {
  margin: 1rem 0;
  padding: 1.5rem 1.5rem 2rem;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 .1rem .3rem #999;
}

.product-container .product-image {
  width: 100%;
}

.product-container .product-label {
  padding: .25rem;
  color: #fff;
  background-color: #c62828;
  border-radius: 2px;
}

/* View more button */
.more-wrapper {
  margin: 2rem 0;
}


/*
 * Buttons
 */

.btn {
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  background-color: #eee;
  border: 0; /* Reset default borders */
  border-radius: 5px;
  outline: 0;
}

a.btn {
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: #2196f3;
}
.btn-primary:hover {
  background-color: #1e88e5;
}

.btn-block {
  display: block;
}

/* Button groups */
.btn-group button,
.btn-group input {
  margin: 0;
  vertical-align: middle;
}


/*
 * Footer
 */

.footer {
  margin-top: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #999;
  background-color: #333;
}

.footer a {
  color: #fff;
}

.footer p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
